# Directories
slurm/*log
core-python*
__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/*.dylib
**/*.dll


*.egg-info/
*.egg

data
outputs
runs
preds*
crowdai_visualizations
scratch
.idea
wandb/*

# Files
*.jpg
*.png
*.tar.xz
*.gif
*.pth
*.o

# Files ignore
!teaser.jpg
!worldmap.jpg
!Switzerland_val_0_pix2poly_early_fusion_bs2x16_mnv64.jpg
!Switzerland_val_0_pix2poly_lidar_pp_vit_bs2x16_mnv64.jpg
!Switzerland_val_0_pix2poly_v4_image_vit_bs4x16.jpg

oar/runs/*

.vscode/*

config/host/gin.yaml