# Directories
slurm/*log
core-python*
__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/*.dylib
**/*.dll


*.egg-info/
*.egg

data
outputs
runs
preds*
crowdai_visualizations
scratch
.idea
wandb/*

# Files
*.jpg
*.png
*.tar.xz
*.gif
*.pth
*.o

# Files ignore
!teaser.jpg
!worldmap.jpg

oar/runs/*

.vscode/*